{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main>
<div>
  <div class="bg-light p-5 rounded">
    <div class="col-sm-8 mx-auto">
      <h1>Welcome</h1>
      <p>Welcome to the Let Me code Blog! Here we'll be talking about everything computer science. Basics, frameworks,machine learning and orther data science stuff, and more.</p>
      <p>Go visit us at our website <a href="http://letmecode.tk/">LetMecode.tk</a> to check out more cool stuff beyond just blogs.</p>
      <p>
        <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
      </p>
    </div>
  </div>
</div>
</main>
{% endblock %}
