{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}
<br>
<div>
  <h1 style="display:inline">All Posts</h1>
  <a style="display:inline" class="btn btn-success float-right" href="/posts/new">+ New Post</a>
</div>
<hr>

{% for post in posts %}
      <!-- This is a for loop  -->
        <!-- This is printing title from all_posts lis -->


  <main>
    <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h2>{{ post.title }}</h2>
          {% if post.author %}      <!-- This is an if block  -->
            <small> Written By {{ post.author }} on {{ post.date_posted }} </small>
          {% else %}                <!-- This is an else block  -->
            <small> Written By Unknown on {{ post.date_posted }} </small>
          {% endif %}
          <p style="white-space:pre-wrap">{{ post.content }}</p>    <!-- printing content from all_list -->
          <a class="btn btn-danger" href="/posts/delete/{{post.id}}">Delete</a>
          <a class="btn btn-primary" href="/posts/edit/{{post.id}}">Edit</a>
          <br>
          <hr>

          <br><br>
        </div>
      </div>
    </div>
  </main>






{% endfor %}

{% endblock %}
